apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "juicefs-operator.fullname" . }}
  namespace: {{ .Release.Namespace}}
  labels:
    {{- include "juicefs-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "juicefs-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "juicefs-operator.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "juicefs-operator.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            {{- if (semverCompare ">=0.7.0" $.Values.image.tag)}}
            - /juicefs-operator
            {{- else }}
            - ./manager
            {{- end }}
            - controller
          env:
            - name: OPERATOR_POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: OPERATOR_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
          {{- if .Values.env }}
            {{- toYaml .Values.env | nindent 12 }}
          {{- end }}
          {{- if .Values.metrics.enabled }}
          ports:
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
          {{- end }}
          args:
            {{- if .Values.metrics.enabled }}
            - --metrics-bind-address=:{{ .Values.metrics.port }}
            - --metrics-secure={{ .Values.metrics.secure }}
            {{- end }}
            {{- if and (semverCompare ">=0.8.0" $.Values.image.tag) (.Values.pprof.enabled) }}
            - --pprof-bind-address=:{{ .Values.pprof.port }}
            {{- end }}
            - --health-probe-bind-address=:8081
            - --zap-log-level={{ .Values.logLevel }}
            - --zap-encoder={{ .Values.logEncoder }}
            {{- if (semverCompare ">0.4.1" $.Values.image.tag)}}
            - --max-sync-concurrent-reconciles={{ .Values.options.maxSyncConcurrentReconciles }}
            - --k8s-client-qps={{ .Values.options.k8sClientQPS }}
            - --k8s-client-burst={{.Values.options.k8sClientBurst }}
            {{- end }}
            {{- if (semverCompare ">0.6.4" $.Values.image.tag)}}
            - --max-warmup-concurrent-reconciles={{ .Values.options.maxWarmupConcurrentReconciles }}
            - --max-cg-concurrent-reconciles={{ .Values.options.maxCgConcurrentReconciles }}
            - --update-warmup-stats-interval={{ .Values.options.updateWarmupStatsInterval }}
            {{- end }}
            {{- if .Values.leaderElection.enabled }}
            - --leader-elect
            {{- end }}
            {{- if (semverCompare ">=0.7.0" $.Values.image.tag)}}
            {{- if .Values.options.watchNamespaces }}
            {{- range $namespace := splitList "," .Values.options.watchNamespaces }}
            {{- if $namespace }}
            - --watch-namespaces={{ trim $namespace }}
            {{- end }}
            {{- end }}
            {{- end }}
            {{- end }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
