name: Github Actions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: CI Preparation
        run: |
          arch=$(go env GOARCH)
          os=$(go env GOOS)
          curl -L https://get.helm.sh/helm-v3.7.2-${os}-${arch}.tar.gz | tar -xz -C /tmp
          chmod u+x /tmp/${os}-${arch}/helm && sudo mv /tmp/${os}-${arch}/helm /usr/local/bin/helm

      - name: CI script
        run: |
          find ./charts | grep Chart.yaml | xargs dirname | xargs helm lint
      - name: check chart
        run: |
          helm template charts/juicefs-csi-driver
          rst=$?
          if [ $rst -ne 0 ]; then
            echo "something wrong in juicefs csi driver chart"
            exit 1
          fi
          helm template charts/juicefs-s3-gateway
          rst=$?
          if [ $rst -ne 0 ]; then
            echo "something wrong in juicefs s3 gateway chart"
            exit 1
          fi
          helm template charts/juicefs-cache-group-operator
          rst=$?
          if [ $rst -ne 0 ]; then
            echo "something wrong in juicefs cache group operator chart"
            exit 1
          fi
